<h1>Cursos</h1>
<div class="d-flex justify-content-left w-100">
    <button mat-raised-button [routerLink]="'/Cursos/Crear'">Agregar Curso</button>
</div>
<br>

<div class="row">
    
<div *ngIf="(cursos$ | async)  == undefined">
    <mat-spinner style="margin:0 auto;" diameter="40"></mat-spinner>
</div>

<div *ngFor="let curso of cursos$ | async" class="col-md-3">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ curso.Nombre }}</mat-card-title>
            <mat-card-subtitle>Inicia el {{ curso.FechaInicio | date: 'dd/MM/YYYY' }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>Impartido por {{ curso.Profesor }}</p>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-icon-button [routerLink]="'/Cursos/'+curso.Id">
                <mat-icon>visibility</mat-icon>
            </button>

            <button mat-icon-button color="primary" (click)="put(curso.Id)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete(curso.Id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
<br>
</div>
</div>

