<h1>Iniciar sesion</h1>

<form [formGroup]="formulario" (ngSubmit)="login()">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="usuario">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <mat-label>Contrasena</mat-label>
                <input matInput formControlName="contrasena">
            </mat-form-field>
        </div>
    </div>
    <div>
        <div class="col-md-4">
            <button type="submit" mat-raised-button color="primary">Entrar</button>
        </div>
    </div>
</form>
