<h1>Alumnos</h1>

<div class="d-flex justify-content-left w-100">
    <button mat-raised-button (click)="openDialog()">Agregar Alumno</button>
</div>
<br>
<div *ngIf="dataInicial.length == 0">
    <mat-spinner style="margin:0 auto;" diameter="40"></mat-spinner>
</div>

<div *ngIf="dataInicial.length > 0">
<mat-table [dataSource]="dataInicial">
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef appFuente20>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let alumno"> {{ alumno.Apellidos + ' ' + alumno.Nombre }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let alumno">
            <button mat-icon-button>
                <mat-icon [routerLink]="'/Alumnos/'+ alumno.Id">visibility</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon (click)="openDialog(alumno)">edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon (click)="eliminar(alumno.Id)">delete</mat-icon>   
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
</div>

